<div class="w-full h-screen flex justify-center items-center">
  <div class="h-auto text-center flex flex-col items-center">

    <img src="/apple-touch-icon.png" alt="VidCap.xyz" class="size-20" />
    <h1 class="font-bold text-gray-900 dark:text-white">Congratulations!</h1>

    <div class="flex flex-col items-center p-8 bg-white dark:bg-gray-800 rounded-lg drop-shadow-2xl dark:shadow-black/30 gap-4 my-4 border border-gray-100 dark:border-gray-700">
      <p class="text-gray-700 dark:text-gray-300">You have successfully subscribed to the <strong><%= plan.name %></strong> plan.</p>
    </div>

    <p>
      Copyright <%= new Date().getFullYear() %>.
      <a href="https://x.com/goon_nguyen">@goon_nguyen</a>
    </p>
  </div>
</div>