<div class="w-full h-screen flex justify-center items-center">
  <div class="h-auto text-center flex flex-col items-center">

    <img src="/apple-touch-icon.png" alt="VidCap.xyz" class="size-20" />
    <h1 class="font-bold">Congratulations!</h1>

    <div class="flex flex-col items-center p-8 bg-white rounded-lg drop-shadow-2xl gap-4 my-4">
      <p>You have successfully subscribed to the <strong><%= plan.name %></strong> plan.</p>
    </div>

    <p>
      Copyright <%= new Date().getFullYear() %>.
      <a href="https://x.com/goon_nguyen">@goon_nguyen</a>
    </p>
  </div>
</div>