@tailwind base;

@layer base {
  * {
    @apply font-sans;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 dark:text-blue-400; /* Added dark mode support */
  }
  p {
    @apply mt-4 mb-8;
  }
  input {
    @apply outline-none focus:ring-0 p-2 dark:bg-gray-700 dark:text-white; /* Added dark mode support */
  }
  input::placeholder {
    @apply dark:text-gray-400; /* Added dark mode support */
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fe8009;
  --color-primary-btn: #e4122d;
  --color-primary-2: #fd9272;
  --color-secondary: #8b1763;
  --color-secondary-2: #b25d99;
  --color-secondary-3: #f2f2f8;
  --banner-one-gradient-top: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    #36d659;
  --banner-one-gradient-bottom: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    #614ce1;
  --b1: linear-gradient(180deg, #d7f7de 0%, #dfdbf9 100%);
  --banner-two-gradient: linear-gradient(259deg, #e2ddff 34%, #cfffda 97.14%);
  --banner-two-gradient-overlay: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  --color-gradient: linear-gradient(45deg, #4c4ff8 13.72%, #ff6354 100%);
  --color-gradient-10: linear-gradient(-45deg, #4c4ff8 13.72%, #ff6354 100%);
  --color-gradient-2: linear-gradient(90deg, #ffcf55 -2.75%, #ff6354 90.8%);
  --color-gradient-9: linear-gradient(-90deg, #ffcf55 -2.75%, #ff6354 90.8%);
  --color-gradient-3: linear-gradient(90deg, #42afff -16.25%, #4c4ff8 87.87%);
  --color-gradient-8: linear-gradient(-90deg, #42afff -16.25%, #4c4ff8 87.87%);
  --color-gradient-4: linear-gradient(45deg, #d3ccff 13.72%, #614ce1 100%);
  --color-gradient-5: linear-gradient(45deg, #614ce1 13.72%, #d3ccff 100%);
  --color-gradient-6: linear-gradient(-45deg, #614ce1 13.72%, #8dffa6 100%);
  --color-gradient-7: linear-gradient(45deg, #614ce1 13.72%, #8dffa6 100%);
  --body-bg: #fff;
  --color-body: #4f4f55;
  --color-border: #bcbfdb;
  --color-border-2: #d7d9e9;
  --color-second: #717383;
  --pricing-single-bg: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    #bcbfdb;
  --working-process-single: #fff;
  --section-bg-gray: #f8f9fb;
  --testimonial-single-bg: #fff;
  --appointment-bg: #fff;
  --input-bg: #fff;
  --pricing-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%),
    #bcbfdb;
  --pricing-bg-single: #fff;
  --testimonial-overlay: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 6.66%,
    rgba(255, 255, 255, 0.91) 48.38%,
    #fff 85.73%
  );
  --footer-bg-2: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), #bcbfdb;
  --product-area-bg: linear-gradient(89deg, #cdd0ed 5.62%, #f0f2ff 90.1%);
  --product-pre-color: #717383;
  --product-pre-button: #fff;
  --faq-bg: linear-gradient(180deg, #f8f9fb 0%, rgba(255, 255, 255, 0) 100%);
  --faq-single: #f8f9fb;
  --footer-four-bg: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    #bcbfdb;
  --bg-gray-2: linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%),
    #4c4ff8;
  --counter-up-bg: var(--footer-bg-2);
  --counter-up-bg-2: var(--footer-four-bg);
  --team-bg: linear-gradient(180deg, #f4f5fc 0%, rgba(255, 255, 255, 0) 100%);
  --footer-widget-title: #9699af;
  --single-service-bg: var(--footer-four-bg);
  --testimonial-left: var(--footer-four-bg);
  --client-testimonial-bg: var(--footer-four-bg);
  --blog-single: var(--footer-four-bg);
  --connecting-people: #26262c0d;
  --about-small: var(--body-bg);
  --service-seven: var(--connecting-people);
  --blog-seven: var(--team-bg);
  --counter-eight: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%),
    #feca11;
  --seo-bg: var(--footer-four-bg);
  --pricing-tag: var(--body-bg);
  --pricing-seven: var(--footer-four-bg);
  --testimonial-eight-bg: var(--footer-four-bg);
  --choose-bg: var(--team-bg);
  --counter-about: linear-gradient(45deg, #f3f1ff 13.72%, #fff 100%);
  --faq-header: var(--product-area-bg);
  --case-study: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), #bcbfdb;
  --case-study-2: linear-gradient(180deg, #f4f5fc 0%, rgba(255, 255, 255, 0) 100%);
  --accordion-single-bg: transparent;
  --color-heading-1: #26262c;
  --color-title: #26262c;
  --color-title-nav: #26262c;
  --color-white: #fff;
  --color-service-heading: rgba(0, 0, 0, 0.8);
  --counter-title: #717383;
  --color-success: #26cf4b;
  --color-danger: #ff0003;
  --color-warning: #ff8f3c;
  --color-info: #1ba2db;
  --color-facebook: #3b5997;
  --color-twitter: #1ba1f2;
  --color-youtube: #ed4141;
  --color-linkedin: #0077b5;
  --color-pinterest: #e60022;
  --color-instagram: #c231a1;
  --color-vimeo: #00adef;
  --color-twitch: #6441a3;
  --color-discord: #7289da;
  --subscribe-form: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    #bcbfdb;
  --footer-bg: linear-gradient(257deg, #deffe6 1.73%, rgba(201, 192, 255, 0.08) 98.79%);
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.3s;
  --font-primary: "Manrope", sans-serif;
  --font-secondary: "Rubik", sans-serif;
  --font-three: "Font Awesome 6 Pro";
  --font-size-b1: 16px;
  --font-size-b2: 16px;
  --font-size-b3: 22px;
  --line-height-b1: 26px;
  --line-height-b2: 26px;
  --line-height-b3: 1.7;
  --h1: 80px;
  --h2: 48px;
  --h3: 32px;
  --h4: 26px;
  --h5: 24px;
  --h6: 20px;
}

[data-theme="dark"] {
  --color-primary: #614ce1;
  --color-primary-btn: #614ce1;
  --color-primary-2: #4c4ff8;
  --color-secondary: #1f1f25;
  --color-secondary-2: #ff6354;
  --color-border: #bcbfdb54;
  --color-border-2: #d7d9e954;
  --banner-one-gradient-top: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    rgba(96, 76, 225, 0.3);
  --banner-one-gradient-bottom: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    rgba(96, 76, 225, 0.3);
  --banner-two-gradient: linear-gradient(
    259deg,
    rgba(97, 76, 225, 0.8) 34%,
    rgba(32, 223, 76, 0.8) 97.14%
  );
  --banner-two-gradient-overlay: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
  --color-gradient: linear-gradient(45deg, #4c4ff8 13.72%, #ff6354 100%);
  --color-gradient-10: linear-gradient(-45deg, #4c4ff8 13.72%, #ff6354 100%);
  --color-gradient-2: linear-gradient(90deg, #ffcf55 -2.75%, #ff6354 90.8%);
  --color-gradient-9: linear-gradient(-90deg, #ffcf55 -2.75%, #ff6354 90.8%);
  --color-gradient-3: linear-gradient(90deg, #42afff -16.25%, #4c4ff8 87.87%);
  --color-gradient-8: linear-gradient(-90deg, #42afff -16.25%, #4c4ff8 87.87%);
  --color-gradient-4: linear-gradient(45deg, #d3ccff 13.72%, #614ce1 100%);
  --color-gradient-5: linear-gradient(45deg, #614ce1 13.72%, #d3ccff 100%);
  --color-gradient-6: linear-gradient(-45deg, #614ce1 13.72%, #8dffa6 100%);
  --color-gradient-7: linear-gradient(45deg, #614ce1 13.72%, #8dffa6 100%);
  --sticky-menu-dark: linear-gradient(199deg, #3a3946 12.55%, #2b2a3b 87.45%);
  --same-gradient: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), #bcbfdb;
  --same-gradient-2: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), #bcbfdb;
  --body-bg: #000000;
  --color-body: #fff;
  --color-second: var(--color-body);
  --pricing-single-bg: var(--same-gradient-2);
  --pricing-single-bg-dark: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    #614ce1;
  --section-bg-gray: var(--same-gradient);
  --testimonial-single-bg: var(--same-gradient);
  --working-process-single: var(--same-gradient);
  --appointment-bg: #000000;
  --input-bg: transparent;
  --pricing-bg: var(--same-gradient-2);
  --pricing-bg-single: #000;
  --testimonial-overlay: linear-gradient(
    180deg,
    rgba(38, 38, 44, 0) 6.66%,
    rgba(38, 38, 44, 0.8) 42.07%,
    #26262c 80.51%
  );
  --footer-bg-2: var(--same-gradient-2);
  --product-area-bg: linear-gradient(258deg, #373551 8.48%, #212026 94.83%);
  --product-pre-color: #bcbfdb;
  --product-pre-button: #bcbfdb;
  --faq-bg: linear-gradient(180deg, #26262c 0%, rgba(38, 38, 44, 0) 100%);
  --faq-single: var(--same-gradient);
  --footer-four-bg: var(--same-gradient);
  --footer-widget-title: var(--color-body);
  --bg-gray-2: var(--same-gradient);
  --counter-up-bg: var(--same-gradient-2);
  --team-bg: linear-gradient(180deg, #26262c 0%, rgba(38, 38, 44, 0) 100%);
  --single-service-bg: var(--footer-bg-2);
  --connecting-people: rgba(248, 249, 251, 0.05);
  --about-small: var(--connecting-people);
  --service-seven: var(--connecting-people);
  --blog-seven: linear-gradient(180deg, rgba(248, 249, 251, 0.05) 0%, rgba(248, 249, 251, 0) 100%);
  --counter-eight: var(--counter-up-bg);
  --pricing-tag: transparent;
  --testimonial-eight-bg: var(--body-bg);
  --counter-about: var(--counter-up-bg);
  --case-study: var(--footer-bg-2);
  --case-study-2: var(--footer-bg-2);
  --accordion-single-bg: var(--faq-single);
  --color-heading-1: #fff;
  --color-title: #fff;
  --color-white: #fff;
  --color-service-heading: #fff;
  --counter-title: #fff;
  --color-success: #26cf4b;
  --color-danger: #ff0003;
  --color-warning: #ff8f3c;
  --color-info: #1ba2db;
  --color-facebook: #3b5997;
  --color-twitter: #1ba1f2;
  --color-youtube: #ed4141;
  --color-linkedin: #0077b5;
  --color-pinterest: #e60022;
  --color-instagram: #c231a1;
  --color-vimeo: #00adef;
  --color-twitch: #6441a3;
  --color-discord: #7289da;
  --subscribe-form: var(--same-gradient-2);
  --footer-bg: var(--section-bg-gray);
}

.absolute-center {
  @apply absolute inset-0 flex items-center justify-center;
}
.fixed-center {
  @apply fixed inset-0 flex items-center justify-center;
}

.main-nav-area ul li.active a,
.header-style-one.case-studies .main-nav-area ul li.active > a.fluxi-dropdown-main-element,
.mainmenu-nav li.active a {
  @apply !text-brand-primary;
}

.slick-dots li button:before {
  @apply !text-black dark:!text-gray-300;
}

.shape-area {
  @apply pointer-events-none;
}
.container {
  @apply relative z-[1];
}

.group-ad-item {
  background: var(--pricing-single-bg);
}

.group-ad-category {
  @apply cursor-pointer text-xl bg-gray-100 dark:bg-gray-700 rounded-2xl py-2 px-4 transition-colors hover:bg-brand-secondary hover:text-white;
}
.group-ad-category.active {
  @apply bg-brand-secondary text-white;
}
