<% const backgroundImageUrl = locals.backgroundImageUrl || "/templates/share-bg-01.png"; %>
<% const imageUrl = locals.image_url || "/images/screenshot-sample-02.png"; %>
<div id="viewport" class="w-[1200px] h-[630px] relative bg-white overflow-hidden" style="background-image: url('<%= backgroundImageUrl %>'); background-size: cover; background-position: top center;">
  <!-- Image -->
  <div class="w-[1000px] h-[550px] left-1/2 -translate-x-1/2 bottom-[-2px] absolute rounded-tl-[30px] rounded-tr-[30px] shadow-2xl justify-center items-center inline-flex overflow-hidden z-50" style="background-image: url('<%= imageUrl %>'); background-size: cover; background-position: top center; z-index: auto;">
  </div>
</div>